/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* set base html style for all pages */
html {
  background-color: #fff7e6;
  padding-right: ;
  padding-left: ;
  font-family: ;
  font-size: ;
}
body {

}
li {

}
img {
  width: 30%;
  height: auto;
  float: center;
}
footer {
  padding-top: 0.5em;
  font-size: 0.5em;
}
#submenu {
	    background: #fff9ed;
	    height: 2.125em; /*34px*/
	    margin: 1.250em 2.500em; /*20*/ /*40*/
	}
	#submenu li {
	    float: left;
	    line-height: 1em; /*16px*/
	    position: relative;
	}
	#submenu li a {
	    color: #383838;
	    display: block;
      font-family: ;
	    font-size: 0.750em; /*12px*/
	    font-weight: bold;
	    line-height: 0.875em; /*14px*/
	    margin: 0em 0em 0em 1.188em; /*19px*/
	    padding: 0.563em 1.125em 0.688em 1.500em; /*9px*/ /*18*/ /*11px*/ /*24px*/
	    text-decoration: none;
	    text-transform: uppercase;
	}
@media screen and (max-width: 800px) {
  html {
    font-size: 1em;
  }
  img {
    width: 30%;
  }
}
@media screen and (max-width: 1000px) {
  html {
    font-size: 1.1em;
  }
  img {
    width: 35%;
  }
}
