/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
/* Keep reset CSS to one minified line */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html,.reset{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* import fonts */
@font-face {
  font-family: Santio;
  src: url("../font/Santio-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: Domani;
  src: url("../font/DomaniCP.otf") format("opentype");
  font-style: normal;
}

@import url("https://v-fonts.com/fonts/bahnschrift");

/* set base html style for all pages */
a {
  text-decoration: none;
  color: #464646;
}

h1 {
  font-family: Domani, Georgia, "Times New Roman", serif;
  font-size: 3.333333em; /* 60px / 18px  = 3.333em */
  line-height: 1.5em;
  text-align: center;
  font-weight: 100;
}

h2 {
  color: #fa8771;
  /* background-color: white; */
  font-family: Santio, Calibri, Arial, sans-serif;
  font-size: 2.666667em; /* 48px / 18px  = 2.667em */
  line-height: 1em;
  margin: 0.375em 0; /* 18px / 48px  = 0.375em */
}

html {
  background-color: #f7f2da;
  margin: auto;
  padding: 2em 0;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.3em; /* 22px / 18px = 1.222... */
  font-family: bahnschrift, Calibri, sans-serif;
  font-weight: lighter;
  width: 80%;
}

footer {
  padding-top: 0.5em;
  font-size: 0.5em;
}

img {
  display: block;
  width: 100%;
}

p {
  border-left: 1em solid;
  border-color: #ffca3a;
  padding: 0.5em;
}

#desc {
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

/* NAVBAR stylings */
/* container */
.nav-list {
  background-color: #cadd64;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  justify-content: center;
}

/* individual links */
.nav-list li {
  color: black;
  font-family: bahnschrift, Calibri, sans-serif;
  font-weight: lighter;
  padding: 0.5em 0.7em;
}

/* MENU: list of items stylings */
/* the whole list of items */
.menu-list {
  align-items: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* container for image and item information */
.item-container {
  /* background-color: pink; */
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-areas: "img content";
  margin-bottom: 1em;
}

/* container for item information */
.item-content {
  grid-area: content;
  margin-left: 0.5em;
  position: relative;
}

/* item name */
.item-content h3 {
  color: #fa8771;
  font-weight: 400;
  font-size: 1.666667em; /* 30px / 18px  = 1.666667*/
  line-height: 1.1em;
}

/* removes padding and border styling from p */
.item-content p {
  padding: 0;
  border: none;
}

/* item price */
.item-price {
  color: #92ad00;
  display: block;
  font-stretch: semi-condensed;
  font-size: 1.3333333em; /* 24px / 18px  = 1.3333333*/
  font-weight: 350;
  line-height: 1.1em;
}

/* item description */
.item-desc {
  display: block;
  margin: 1em 0;
}

/* add to order button */
.order-btn {
  background-color: #ffca3a;
  border-radius: 1.5em;
  margin-top: 5em;
  padding: 0.5em 0.75em;
  position: relative;
  bottom: 0;
}

/* item image */
.item-image {
  display: block;
  grid-area: img;
  width: 100%;
}

/* Customize Item Card */
/* disable background scrolling */
body.disable-scroll {
  position: absolute;
  overflow: hidden;
}

/* card container */
#overlay {
  display: none;
  left: 0;
  top: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 2em 0;
  position: fixed;
  background-color: rgba(255,255,255,0.7);
}

/* displays section that holds card */
#overlay.visible {
  display: block;
}

/* card styling */
.customize-card {
  background-color: #fa8771;
  border-radius: 1em;
  display: block;
  margin: auto;
  margin-bottom: 8em;
  padding: 1em;
  width: 70%;
  z-index: 2;
}

.customize-title {
  color: white;
  font-family: Santio, Calibri, Arial, sans-serif;
  font-weight: 400;
  font-size: 2.666667em;
  line-height: 1.1em;
  text-align: center;
}

/* group of customizing options */
.customize-option {
  margin: 1em;
}

.customize-option li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* options */
.customize-option label {
  background-color: rgba(255,255,255,0.7);
  border: 0.25em solid;
  border-color: white;
  border-radius: 1.5em;
  padding: 0.25em 0.75em;
  text-align: center;
  color: $color-label;
}

.customize-option label:hover {
  border-color: #ffca3a;
}

input:checked + label {
  background-color: #ffca3a;
}

/* form input styling */
input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  margin: 0;
}

.submit-btn {
  margin-top: 2em;
}

#submit-drink {
  background-color: #f7f2da;
  border-radius: 2em;
  padding: 0 0.5em 0.3em 0.5em;
  border: 0;
  outline: 0;
  color: #92ad00;
  font-family: Santio, Calibri, Arial, sans-serif;
  font-size: 1.666667em; /* 30px / 18px  = 1.666667*/
  line-height: 1.5em;
  margin: auto;
  width: 100%;
}

#submit-drink:hover {
  background-color: #cadd64;
  color: #f7f2da;
}

/* State Styles */
@media screen and (min-width: 700px) {
  .menu-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .item-container {
    display: flex;
    flex-direction: column-reverse;
    width: 45%;
  }
  .item-content {
    margin: 0;
    padding-top: 1em;
  }
  .order-btn {
    position: relative;
  }
  .customize-card {
    width: 60%;
  }
}
@media screen and (min-width: 900px) {
  .item-container {
    /* display: block; */
    width: 30%;
  }
}

/*cart */
/* Body/Header stuff */

/* Apply dollar signs */
#cart-summary {
  border-top: 0.1em solid #fa8771;
  display: flex;
  padding-top: 1em;
  flex-direction: row;
}

#summ-headers li,
#summ-values {
  line-height: 1.5em;
}

#summ-headers {
  /* background-color: pink; */
  margin-right: 2em;
  text-align: right;
  width: 5em;
}

#summ-values li::after {
  content: "$";
  /* background-color: yellow; */
}

.remove-product {
  border: 0;
  padding: 0.222em 0.5em; /* 4px / 18px = 0.222em | 9px / 18px = 0.5em */
  margin-top: 0.556em; /* 10px / 18px = 0.556em */
  margin-bottom: 0.556em;
  background-color: #c66;
  color: #fff;
  font-family: $font-bold;
  font-size: 0.667em; /* 12px / 18px = 0.667em */
  border-radius: 0.167em; /* 3px / 18px = 0.167em */
}

.remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.label {
  float: right;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals-value {
  float: right;
  width: 21%;
  text-align: right;
}

.totals-item-total {
  font-family: $font-bold;
}

.checkout {
  border: 0;
  margin-top: 1.111em; /* 20px / 18px = 1.111em */
  padding: 0.333em 1.389em; /* 6px / 18px = 0.333em | 25px / 18px = 1.389em */
  background-color: #6b6;
  color: #fff;
  font-size: 1.389em; /* 25px / 18px = 1.389em */
  border-radius: 0.167em; /* 3px / 18px = 0.167em */
}

.checkout:hover {
  background-color: #494;
}

/* CSS for Checkout page */
input[type="text"],
input[for="contact"] {
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0.5em;
}

#confirm {
  background-color: #ffca3a;
  border-radius: 1.5em;
  font-size: 1em;
  margin-top: 1em;
  padding: 0.5em 0.75em;
  position: relative;
  bottom: 0;
}

/* Hidden message after form submission */
#msg {
  display: none;
  padding: 1em;
}
